*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root{
    --primary-color:#f34e3a;
    --general-transition: all .4s ease;
}
body{
    font-family: 'Oswald',sans-serif;
}
p{
    font-family: 'Roboto',sans-serif;
}
.section{
    padding: 80px 0;
}
.arrow{
    display: inline-block;
    width: 4px;
    background-color: var(--primary-color) !important;
    height: 29px;
    margin-right: 5px;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.line {
    background-color: var(--primary-color);
    height: 3px;
    width: 70px;
    margin: 0 auto;
}




/**********************
       Navbar
**********************/
.nav-item .nav-link {
    color: #000;
    font-weight: 600;
    letter-spacing: 1px;
    transition: var(--general-transition);
}
.active {
    color: var(--primary-color) !important;
}
.nav-item .nav-link:hover {
    color: var(--primary-color) !important; 
}
/**********************
     End  Navbar
**********************/




/**********************
       Slider
**********************/
#slider {
    padding: 60px 0;
    background: url("../img/about-breadcrumb-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
/**********************
      End Slider
**********************/




/**********************
        Map
**********************/
.footer-section {
    overflow: hidden;
  }
  
  .map-location {
    height: 610px;
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
  }
  .map-location iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  .map-location .map-widget {
    position: absolute;
    left: 50%;
    top: 30%;
  }
  .map-location .map-widget i {
    position: absolute;
    left: 0%;
    top: 109px;
    font-size: 35px;
    color: #f34e3a;
  }
  .map-location .map-widget .map-address {
    height: 100px;
    width: 330px;
    background: #ffffff;
  }
  .map-location .map-widget .map-address img {
    float: left;
  }
  .map-location .map-widget .map-address ul {
    display: table;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 22px;
    padding-right: 25px;
  }
  .map-location .map-widget .map-address ul li {
    list-style: none;
    color: #707070;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
  }
  .map-location .map-widget .map-address ul li:last-child {
    color: #f34e3a;
  }
  .map-location .map-widget .map-address ul li span {
    color: #252525;
  }
/**********************
      End Map
**********************/




/**********************
      Main
**********************/
#main i {
    font-size: 55px;
    margin-bottom: 40px;
    color: var(--primary-color);
}
#main  .col-md-4 p {
    font-size: 18px;
}



/**********************
       Contact
**********************/


.form input,textarea {
    letter-spacing: 1px;
    outline: 0 !important;
}
.button {
    background-color: var(--primary-color);
    letter-spacing: 1px;
    color: #fff;
    padding: 8px 50px;
    text-transform: uppercase;
    font-size: 15px;
}
.button:hover {
    color: #fff;
}
/**********************
      End Contact
**********************/





 
/**********************
       Copyright
**********************/
#copy{
    background-color: #191919 !important;
}
#copy .copy-r{
    padding: 20px 0;
    padding-bottom: 0px;
    font-size: 14px;
}
.privacy{
    padding: 18px 0;
    padding-bottom: 0px;
}
.privacy span {
    color: #6e6e6e;
    font-weight: 300;
    font-size: 13px;
    border-right: 1px solid #6e6e6e;
    padding-right: 15px;
    margin-right: 20px;
    letter-spacing: 1px;
}
/**********************
      End Copyright
**********************/




/**********************
      Responsive
**********************/
@media screen and (max-width:768px){
    /* Navbar */
    .navbar-nav {
        background-color: rgba(0,0,0,.8) !important;
    }
    .nav-link {
        color: #fff !important;
    }
    .active {
        color: var(--primary-color) !important;
    }
    /*End Navbar */

}