*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

 
body {
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.5;
    background-color: #E1E6ED;
}
html {
    font-size: 10px;
    line-height: 1.5;
}
a{
    text-decoration: none;
    color: black;

}
ul {
    list-style: none;

}
input,button.textarea {
    outline: 0;
}
img{
    width: 100%;
    height: auto;
}
button {
    border: none;
    outline: 0;
}
.line{
    width: 100%;
    background-color: rgb(213, 217, 219);
    height: 1px;
    margin: 3rem 0;
}
.lline{
    width: 100%;
    background-color: rgb(213, 217, 219);
    height: 1px;
    margin: 1rem 0;
    float: left;
}
.l-line{
    width: 100%;
}
.blue{
    display: inline-block;
    width: 15%;
    height: 1px;
    background-color: #0DB3E3;
}
.gray{
    display: inline-block;
    margin-left: -4px;
    width: 85%;
    height: 1px;
    background-color: rgb(213, 217, 219);
}
.container {
    width: 90%;
    margin: 0 auto;
    padding: 0 1rem;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.menu-bars{
    display: none;
}
.mobile-nav{
    display: none;
}
/* Main Section */
#main-sec {
    background-color: #F0F4F7;
    margin: 3rem;
}
/* Left Section */
#sidebar {
    width: 35rem;
    float: left;
}
.container-side {
    width: 75%;
    margin: 0 auto;
}
.side-logo {
    padding: 3rem 0;
    cursor: pointer;
}
.side-logo img {
    padding-top: 1rem;
}
.side-par{
    padding: .5rem 0;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    word-spacing: .1rem;
    color: rgb(146, 145, 145);
}
.navbar {
    width: 100%;
    margin-top: 1rem;
    padding: 2rem 0;
}
.nav-item {
    padding: 1.3rem 0;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    transition: all .3s ease;
}
.nav-link:hover {
    color: #0DB3E3;
}
.side-p{
    text-align: center;
    padding: 3rem 0;

}
.side-p p {
    font-size: 1.7rem;
    letter-spacing: .1rem;
}

/* MEDIA */

@media screen and (max-width:1200px){
#sidebar {
    width: 30rem;  
}
}  
@media screen and (max-width:991px){
#sidebar {
    width: 25rem;  
}
}  
@media screen and (max-width:792px){
#main-sec {
    margin: 0px;
}
#sidebar{
    float: none;
    width: 100%;
}
.container-side {
    width: 90%;
    position: relative;
}
.navbar{
    display: none;
}
.side-p{
    display: none;
}
.side-par{
    display: none;
}
.side-logo{
    width: 35%;

}
.menu-bars{
    float: right;
    position: absolute;
    right: 0;
    top: 40%;
    display: block;
    cursor: pointer;
}
.mobile-nav{
    display: none;
    text-align: center;
}
.mobile-nav .nav-item{
    transition: all .3s ease;
}
.mobile-nav .nav-item:hover {
    background-color: #0DB3E3;
}
.mobile-nav .nav-item:hover a{
    color: #fff;
}

}

/*END MEDIA */

/*End Left Section */

/* Right Section */
#right {
    max-width:1200px;
    margin-left: 35rem;
    background-color: #fff;
}
.content {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
.right-title {
    font-size: 2.2rem;
    padding: 4rem 0;
    padding-bottom: 7rem;
}
.right-par {
    font-size: 1.5rem;
    font-weight: 300;
    padding: 1.5rem 0;
}
.name {
    float: left;
    width: 48%;
}
.email{
    float: right;
    width: 48%;

}
input,textarea {
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    margin: 1rem 0;
    outline: 0;
    border: none;
    border: 1px solid rgb(190, 192, 195);
    transition: all .3s ease;

}
input:focus,textarea:focus{
    border-color: black;
} 
.subject {
    width: 100%;
}
.message {
    width: 100%;

}
.btn {
    float: right;
    margin: 1rem 0;
    padding: 1.2rem 1.8rem;
    font-size: 1.3rem;
    letter-spacing: .2rem;
    border-radius: 4px;
    background-color: #23272B;
    color: #fff;
    cursor: pointer;
    transition: all .3s ease;
}
.btn:hover {
    background-color: rgb(8, 8, 8);
}
/* MEDIA */
@media screen and (max-width:1200px){
#right {
    margin-left: 30rem;  
}
}  
@media screen and (max-width:991px){
#right {
    margin-left: 25rem;  
}
}  
@media screen and (max-width:792px){
#right{
    width: 100%;
    margin-left: 0px;
}
.right-title{
    padding-bottom: 2rem;
}
.btn {
    font-size: 1.2rem;
}
}
/*END MEDIA */

/* End Right */