*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

 
body {
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.5;
    background-color: #E1E6ED;
}
html {
    font-size: 10px;
    line-height: 1.5;
}
a{
    text-decoration: none;
    color: black;

}
ul {
    list-style: none;

}
input,button.textarea {
    outline: 0;
}
img{
    width: 100%;
    height: auto;
}
.line{
    width: 100%;
    background-color: rgb(213, 217, 219);
    height: 1px;
    margin: 3rem 0;
}
.lline{
    width: 100%;
    background-color: rgb(213, 217, 219);
    height: 1px;
    margin: 1rem 0;
    float: left;
}
.l-line{
    width: 100%;
}
.blue{
    display: inline-block;
    width: 15%;
    height: 1px;
    background-color: #0DB3E3;
}
.gray{
    display: inline-block;
    margin-left: -4px;
    width: 85%;
    height: 1px;
    background-color: rgb(213, 217, 219);
}
.container {
    width: 90%;
    margin: 0 auto;
    padding: 0 1rem;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.menu-bars{
    display: none;
}
.mobile-nav{
    display: none;
}
/* Main Section */
#main-sec {
    background-color: #F0F4F7;
    margin: 3rem;
}
/* Left Section */
#sidebar {
    width: 35rem;
    float: left;
}
.container-side {
    width: 75%;
    margin: 0 auto;
}
.side-logo {
    padding: 3rem 0;
    cursor: pointer;
}
.side-logo img {
    padding-top: 1rem;
}
.side-par{
    padding: .5rem 0;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    word-spacing: .1rem;
    color: rgb(146, 145, 145);
}
.navbar {
    width: 100%;
    margin-top: 1rem;
    padding: 2rem 0;
}
.nav-item {
    padding: 1.3rem 0;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    transition: all .3s ease;
}
.nav-link:hover {
    color: #0DB3E3;
}
.side-p{
    text-align: center;
    padding: 3rem 0;

}
.side-p p {
    font-size: 1.7rem;
    letter-spacing: .1rem;
}

/* MEDIA */

@media screen and (max-width:1200px){
#sidebar {
    width: 30rem;  
}
}  

@media screen and (max-width:991px){
#sidebar {
    width: 25rem;  
}
}  

@media screen and (max-width:792px){
#main-sec {
    margin: 0px;
}
#sidebar{
    float: none;
    width: 100%;
}
.container-side {
    width: 90%;
    position: relative;
}
.navbar{
    display: none;
}
.side-p{
    display: none;
}
.side-par{
    display: none;
}
.side-logo{
    width: 35%;

}
.menu-bars{
    float: right;
    position: absolute;
    right: 0;
    top: 40%;
    display: block;
    cursor: pointer;
}
.mobile-nav{
    display: none;

    text-align: center;
}
.mobile-nav .nav-item{
    transition: all .3s ease;
}
.mobile-nav .nav-item:hover {
    background-color: #0DB3E3;
}
.mobile-nav .nav-item:hover a{
    color: #fff;
}

}
/*END MEDIA */

/*End Left Section */

/* Right Section */
#right {
   max-width: 1200px;
   margin-left: 35rem;
   background-color: #fff;
}
.right-header{
    width: 75%;
    padding: 3rem 0;
}
.right-title {
    font-size: 3.4rem;
    font-weight: 400;
    letter-spacing: .1rem;
}
.right-par {
    font-size: 1.5rem;
    padding: 2rem 0;
    line-height: 1.7;
    color: rgb(146, 145, 145);
}

/* MEDIA */
@media screen and (max-width:1200px){
#right {
    margin-left: 30rem;
}
}
@media screen and (max-width:991px){
#right {
    margin-left: 25rem;        
}
} 
@media screen and (max-width:792px){
#right{
    float: none;
    width: 100%;
    margin-left: 0px;
}
.container{
    width: 75%;
}
.right-header{
    width: 100%;
}
}
/*END MEDIA */

/* r-left */
#r-left {
    width: 65%;
    float: left;
}
.r-l-card {
    width: 100%;
}
.card-header {
    width: 100%;
    padding-bottom: 3rem;

}
.r-left-title {
    font-weight: 400;
    font-size: 2.4rem;
    padding-bottom: .5rem;
}
.r-l-t{
    transition: all .4s ease;
}
.r-l-t:hover{
    color: #0DB3E3;
}
.comment {
    font-size: 1.2rem;
}
.comment span {
    color: rgb(146, 145, 145);
    word-spacing: .4rem;
    padding-right: 2rem;
}
.comment span a {
    color: rgb(146, 145, 145);
    transition: all .3s ease;
}
.comment span a:hover {
    color: #0DB3E3;
    
}
.card-img{
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
    transition: all .3s ease;
    cursor: pointer;
    padding: 1rem 0;
}
.card-img img {
    border-radius: 4px;
}
.card-img:hover {
    opacity: .8;
}
.card-info {
    padding: 1rem 0;
}
.card-info p {
    font-size: 1.4rem;
    word-spacing: .1rem;
    padding-bottom: 1.5rem;
}
.card-info .btn {
    margin: 1.5rem 0;
    font-size: 1.2rem;
    font-weight: 200;
    border: 1px solid #0DB3E3;
    padding: 1.5rem 3rem;
    text-transform: uppercase;
    background-color: white;
    color: #0DB3E3;
    cursor: pointer;
    transition: all .4s ease;
    word-spacing: .1rem;

}
.card-info .btn:hover{
    background-color: #0DB3E3;
    color: white;
}
/* MEDIA */

@media screen and (max-width:1200px){
#r-left {
    float: none;
    width: 100%;
}
}
@media screen and (max-width:991px){
html{
    font-size: 9px;
}
.card-info .btn {
    font-size: 1.2rem;
}
}
/*END MEDIA */
/*End r-left */

/* r-right */
#r-right {
    width: 35%;
    float: left;
}
.search {
    width: 100%;
    margin-bottom: 2rem;
    position: relative;
}
.search input {
    width: 90%;
    padding: 1.5rem 1.3rem;

}
.search i {
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    right: 15%;
    top: 30%;
    transition: all .3s ease;
}
.search i:hover {
    color: #0DB3E3;
}

.main-part{
    width: 100%;
}
.main-title{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .05rem;
    margin-top: 4rem;
}
.text-center {
    margin-top: 2.5rem;
    width: 100%;
    text-align: center;

}
.text-center img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 2rem;
}
.text-center p{
    font-size: 1.5rem;
    color: rgb(90, 90, 90);
}
/* social */
.social {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 8rem;
}
.social-links {
    width: 100%;
}
.social-item {
    width: 50px;
    height: 50px;
    background-color: #4A4A4A;
    border-radius: 50%;
    margin-right: 1.5rem;
    float: left;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    transition: all .3s ease;
}
.social-item:hover {
    background-color: #0DB3E3;
    color: #fff;
}
.social-item:last-child{
    margin-right: 0px;
}
.social-link {
    color: #fff;
    font-size: 1.5rem;
}
/* categories */
.categories {
    font-size: 1.6rem;
    margin-top: 2rem;
}
.categories-p {
    padding-bottom: 2rem;
    font-weight: 300;

}
.categories-p a {
    margin-right: .7rem;
    transition: all .4s ease;
}
.categories-p a:hover {
    color: #0DB3E3;
}
/* popular */
.popular {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 4rem;
}
.post {
    width: 100%;
}
.post-img {
    width: 23%;
    height: auto;
    margin-right: 2rem;
    padding: 1rem 0;
    float: left;
    cursor: pointer;
}
.post-info {
    width: 68%;
    float: left;
    padding: 1rem 0;
    font-size: 1.5rem;
}
.post-title {
    font-size: 200;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all .3s ease;
}
.post-title:hover {
    color: #0DB3E3;
}
.post-info p{
    font-size: 1.4rem;
    padding: .3rem 0;
    color: rgb(146, 145, 145);

}
/* Widget */
.widget {
    width: 100%;
    margin: 3rem 0;
}
.widget p{
    font-size: 1.5rem;
    font-weight: 300;
}

/* archive */
.archive {
    font-size: 1.6rem;
    margin-top: 2rem;
}
.archive-p {
    padding-bottom: 2rem;
    font-weight: 300;

}
.archive-p a {
    margin-right: 7px;
    transition: all .4s ease;
}
.archive-p a:hover {
    color: #0DB3E3;
}
/* tags */
.tags {
    width: 100%;
    margin: 3rem 0;
}
.tag {
    width: 90%;

}
.tag-span {
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #F5F5F5;
    padding: .8rem;
    margin-right: 1rem;
    line-height: 3.5;
    border-radius: 3px;
    cursor: pointer;
    transition: all .3s ease;
}
.tag-span:hover {
    color: #fff;
    background-color: #0DB3E3;
}

/* MEDIA */
@media screen and (max-width:1200px){ 
#r-right {
    float: none;
    width: 100%;
}
html {
    font-size: 11px;
}
.search i {
    position: absolute;
    right: 15%;
    top: 33%;
}

ul.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.social-item {
    margin-right: 3rem;
}
.post-img {
    width: 75px;

}
.post-info p{
    padding: 1rem 0;
    font-size: 1.5rem;
}
.post-title{
    font-size: 1.7rem;
}
} 
@media screen and (max-width:992px){
.main-title{
    font-size: 1.7rem;
}
.categories {
    font-size: 1.6rem;
}
.tag-span{
    margin-right: 2.5rem;
}
}
@media screen and (max-width:792px){
.social-item{
    margin-right: 1rem;
}
}
/*END MEDIA */
